@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #f8f9fa;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.headline {
  width: 920px;
  height: 122px;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: #172b4d;
  letter-spacing: 0.37px;
}

.connect {
  font-size: 1rem;
  color: #7f8cff;
}

.card {
  flex-direction: row;
  align-items: center;
  border-bottom-left-radius: 24px;
  height: 446px;
}

.card img {
  width: 50%;
}

.list-group {
  gap: 10px;
}

.card-con {
  padding: 30%;
  top: auto;
  bottom: auto;
}

.card-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.card-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.card-con .btn {
  margin: 1rem;
}
